<!DOCTYPE html>
<html
	 xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>

	<th:block th:fragment="footer">
		     <footer class="main-footer">
		        <div class="pull-right hidden-xs">
		          <b>Version</b> 1.0.0
		        </div>
		        <strong>Copyright &copy; 2019-2020 <a target="_blank" href="http://www.kirantarafder.com">Image2Pdf Opensource Foundation</a>.</strong> All rights
		        reserved.
		      </footer>
      </th:block>
</body>
</html>